# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config GPIO_NRFE
	bool "nRF eGPIO driver"
	default y
	depends on DT_HAS_NORDIC_NRF_EGPIO_ENABLED
	select NRFE_GPIO2 if HAS_HW_NRF_EGPIO2
	help
	  Enable eGPIO driver for nRF line of MCUs.
